<p id="notice"><%= notice %></p>

<%= @group.tasks.each do |task| %>
  <p>
    <strong>Name:</strong>
    <%= task.name %>
  </p>
  <p>
    <strong>Duration:</strong>
    <p><%= task.amount %> minutes</p>
  </p>
<% end %>

<%= link_to 'Back', groups_path %>
