<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @group.user_id %>
</p>

<p>
  <strong>Task:</strong>
  <%= @group.task_id %>
</p>

<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
